<%- include("header") -%>

<div class="box" id="heading">
    <h1><%= todoHeading %></h1>
  </div>

  <div class="box">
    <% todoItems.forEach((todoItem) => { %>
      <div class="item">
        <input type="checkbox">
        <p><%= todoItem.name %></p>
        <button class="btn">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    <% }) %>
    <form class="item" action="/" method="post">
      <input type="text" name="todoTask" placeholder="New Task" autocomplete="off">
      <button type="submit" class="add" name="submitTodoBtn" value=<%= todoHeading %>>+</button>
    </form>
  </div>

<%- include("footer") -%>