<%- include("header") -%>

<div class="box" id="heading">
    <h1><%= todoHeading %></h1>
  </div>

  <div class="box">
    <% todoItems.forEach((todoItem) => { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox">
          <p><%= todoItem.name %></p>
          <input type="hidden" name="listHeading" value="<%= todoHeading %>">
          <button name="deletingItem" value=<%= todoItem.id %> class="btn" type="submit">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </form>
      <% }) %>
    <form class="item" action="/" method="post">
      <input type="text" name="todoTask" placeholder="New Task" autocomplete="off">
      <button type="submit" class="add" name="formSubmitHeading" value=<%= todoHeading %>>+</button>
    </form>
  </div>

<%- include("footer") -%>